/* グローバルなスタイル */
body {
  margin: 0;
  line-height: normal;
}

/* ルートレベルの変数 */
:root {
  /* フォント */
  --font-roboto: Roboto;
  --font-manrope: Manrope;
  --font-lexend: Lexend;
  --font-merriweather: Merriweather;

  /* フォントサイズ */
  --font-size-base: 16px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;
  --font-size-mini: 15px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-19xl: 38px;
  --font-size-lg: 18px;
  --font-size-34xl: 53px;
  --font-size-13xl: 32px;
  --font-size-23xl: 42px;
  --font-size-xl: 20px;
  --font-size-24xl: 43px;
  --font-size-7xl: 26px;
  --font-size-15xl: 34px;
  --font-size-sm: 14px;
  --font-size-mid: 17px;

  /* 色 */
  --color-gray-100: #1f2937;
  --color-gray-200: #1c1c1c;
  --color-gray-300: #171a1f;
  --color-gray-400: rgba(0, 0, 0, 0);
  --color-white: #fff;
  --color-blueviolet-100: #4f46e5;
  --color-lightgray: #d1d5db;
  --color-black: #000;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #d9d9d9;
  --color-whitesmoke: #f0eff0;
  --color-dimgray: #4f4f4f;
  --color-lightslategray: #9095a1;
  --color-darkslategray: #374151;

  /* ギャップ */
  --gap-3xl: 22px;
  --gap-base: 16px;
  --gap-xl: 20px;
  --gap-5xl: 24px;
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-13xl: 32px;
  --gap-2
